.rightbox{
    flex: 1.5;
    position:sticky;
    top: 50px;
    height: calc(100vh - 50px);
    border-left: 2px solid rgba(60, 52, 52, 0.584);
}

.birthdaycontainer{
    display: flex;
    align-items: center;
    padding: 1rem;
    
}
.birthdayimg{
    height: 40px;
    width: 40px;
    margin-right: 10px;

}

.onlineFriendContainer{
    padding: 1rem 0rem 0rem 1rem;
    color: rgba(52, 58, 60, 0.584);
}


.birthdaytext{
    font-weight: 300;
    font-size: 15px ;
}
.rightbarad{
    width: 80%;
    height: calc(42vh - 50px);
    border-radius: 10px;
    padding: 1rem;
}

.rightbaarfriendlist{
    /* padding: 0;
    margin: 0;
    list-style: none; */
    /* padding: 5px;
    margin: 10px;
    list-style: none;
    height: calc(58vh - 50px); */
    margin: 0;
    list-style:none ;
    overflow-y: scroll;
    height: calc(37vh - 50px);
}
.rightbartital{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 1rem;

}
.rightbaefollowingimg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    padding: 1rem;
}
.rightbarfollowingname{
    padding: 1rem;
}
.rightbarinfo{
    margin-bottom: 30px;
    padding: 1rem;
}
.rightbarinfoitem{
    margin-bottom: 10px;
}
.rightbarinfokey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}
.rightbarinfovalue{
    font-weight: 300;
}
.rightbarfollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rightbarfollowing{
display: flex;
flex-direction: column;
margin-bottom: 20px;
cursor: pointer;
}